.col-md-10.col-md-offset-1
  .page-header
    %h2.text-center Homepage

.row
  .col-md-6.col-md-offset-1
    %p
      This is homepage of Testing App. This application contains :
      %ol
        %li Repositories with JS and traditional upload function using Paperclip gem.
        %li Integrated google calendar for events using AuthOmi.....  
.row
  .col-md-6.col-md-offset-1
    .panel.panel-info
      .panel-heading Test calendar here
      .panel-body
        /= render "/events_listing/nurhashimah77@gmail.com"
        = render "events/display"
    
