.col-md-6
  .panel.panel-info
    .panel-heading Upload Repository
    .panel-body 
      = form_for @repository, html: { multipart: true, class: 'form-horizontal', id: 'edit_form'}  do |f| 
        = render 'shared/error_messages', object: f.object
        = render :partial => 'form', :locals => {:f => f}


