%br
.col-md-2
  = link_to fa_icon('home'), root_path
  &nbsp;
  =link_to (fa_icon "tachometer"), '/dashboard/applications@teknikpadu.com'
  /=link_to (fa_icon "tachometer"), '/dashboard/nurhashimah77@gmail.com'
  /dashboard_path
  &nbsp;
  = link_to fa_icon('file-o'), repositories_path
  &nbsp;
  = link_to fa_icon('calendar'), events_path
  &nbsp;
  = link_to fa_icon('calendar-o'), '/redirect'
  /&nbsp;
  /= link_to fa_icon('briefcase'), '/events_listing/nurhashimah77@gmail.com'